In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import (
    classification_report,
    confusion_matrix,
    roc_auc_score,
    roc_curve,
    precision_recall_curve
)

import xgboost as xgb

In [17]:
# Load the merged dataset
df = pd.read_csv("../data/interim/opioid_cases_full.csv", low_memory=False)

print("Data loaded:", df.shape)

# Quick peek at columns
df.head()

Data loaded: (271206, 133)

,PcrKey,eDispatch_01,eDispatch_02,eArrest_14,eArrest_01,eArrest_02,eArrest_05,eArrest_07,eArrest_11,eArrest_16,...,ems_cpr,rosc_achieved,use_flag_count,unique_use_flags,all_use_flags,all_use_flags_str,symptom_count,unique_symptoms,all_symptoms,all_symptoms_str
0,225614082,~2301053 ~,~7701003 ~,~Not Applicable ~,~3001001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,...,False,False,1,1,['~8801015 '],~8801015,1.0,1.0,['~7701003 '],~7701003
1,225614423,~2301053 ~,~2302007 ~,~Not Applicable ~,~3001001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,...,False,False,1,1,['~8801023 '],~8801023,1.0,1.0,['~R11.10 '],~R11.10
2,225614880,~2301079 ~,~2302001 ~,~Not Applicable ~,~3001001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,...,False,False,1,1,['~8801015 '],~8801015,1.0,1.0,['~7701001 '],~7701001
3,225615710,~2301051 ~,~2302007 ~,~Not Applicable ~,~3001001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,...,False,False,1,1,['~8801015 '],~8801015,1.0,1.0,['~R44.3 '],~R44.3
4,225616308,~2301053 ~,~7701003 ~,~Not Applicable ~,~3001001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,~7701001 ~,...,False,False,1,1,['~3117007 '],~3117007,1.0,1.0,['~7701003 '],~7701003

In [18]:
# Strip tildes and spaces from all object columns
cols_to_clean = df.select_dtypes(include="object").columns

for col in cols_to_clean:
    df[col] = df[col].astype(str).str.strip(" ~")

print("Cleaned all string columns.")

Cleaned all string columns.

In [19]:
# Count missing values
missing_counts = df.isna().sum().sort_values(ascending=False)
missing_percent = (missing_counts / len(df) * 100).round(2)

# Combine into a DataFrame
missing_summary = pd.DataFrame({
    "Missing Count": missing_counts,
    "Missing %": missing_percent
}).query("`Missing Count` > 0")

print("Columns with missing values:", missing_summary.shape[0])
missing_summary.head(20)

Columns with missing values: 65

                Missing Count  Missing %
BGL_std                260563      96.08
ETCO2_std              227360      83.83
ETCO2_min              218952      80.73
ETCO2_last             218952      80.73
ETCO2_first            218952      80.73
ETCO2_mean             218952      80.73
ETCO2_max              218952      80.73
BGL_mean               124639      45.96
BGL_max                124639      45.96
BGL_min                124639      45.96
BGL_last               124639      45.96
BGL_first              124639      45.96
GCS_Motor_std          109269      40.29
GCS_Verbal_std         109175      40.26
GCS_Eye_std            109082      40.22
SystolicBP_std          99697      36.76
SpO2_std                97747      36.04
RespRate_std            88928      32.79
HeartRate_std           75848      27.97
SpO2_mean               34514      12.73

In [20]:
# Show outcome codes
print("eOutcome_01 value counts:")
print(df["eOutcome_01"].value_counts(dropna=False))

print("\neOutcome_02 value counts:")
print(df["eOutcome_02"].value_counts(dropna=False))

eOutcome_01 value counts:
eOutcome_01
7701003    223107
7701001     43323
01           1959
30           1197
09            779
07            271
02            216
65            139
21             85
70             38
20             28
03             19
04             17
06              7
66              7
05              6
62              6
63              1
61              1
Name: count, dtype: int64

eOutcome_02 value counts:
eOutcome_02
7701003    206880
7701001     61818
30           1049
01            915
07            155
65            100
02             77
06             54
70             36
20             29
62             27
03             19
05             14
21             11
66              6
51              5
04              5
50              3
63              2
61              1
Name: count, dtype: int64

In [21]:
# Define mapping for eOutcome codes
admit_codes = {
    "02",  # Transferred Hospital
    "03",  # Transferred SNF
    "04",  # Transferred ICF
    "05",  # Transferred Other
    "06",  # Home Health
    "09",  # Admitted Hospital
    "20",  # Deceased
    "21",  # Transferred Law Enforcement
    "30",  # Still Patient
    "50",  # Hospice Home
    "51",  # Hospice Facility
    "61",  # Swing Bed
    "62",  # Rehab Facility
    "63",  # Long-Term Care
    "64",  # Medicaid Nursing
    "65",  # Psychiatric Facility
    "66",  # Critical Access Hospital
    "70",  # Other Healthcare Facility
}

# Helper to check if admitted/transferred
def is_admitted(row):
    val1 = str(row["eOutcome_01"]).strip()
    val2 = str(row["eOutcome_02"]).strip()
    return int((val1 in admit_codes) or (val2 in admit_codes))

# Create binary column
df["Outcome_Admitted"] = df.apply(is_admitted, axis=1)

# Show counts
print("Binary outcome distribution (0 = Discharged/Refused, 1 = Admitted/Transferred):")
print(df["Outcome_Admitted"].value_counts(dropna=False))

Binary outcome distribution (0 = Discharged/Refused, 1 = Admitted/Transferred):
Outcome_Admitted
0    268520
1      2686
Name: count, dtype: int64

In [22]:
# Codes that mean "missing outcome"
missing_codes = {"7701001", "7701003"}

# Boolean mask: keep rows where at least one outcome field is not missing
mask_valid_outcome = ~(
    df["eOutcome_01"].isin(missing_codes) & df["eOutcome_02"].isin(missing_codes)
)

# Subset
df_model = df.loc[mask_valid_outcome].copy()

print("Rows with valid outcome data:", df_model.shape)

Rows with valid outcome data: (5197, 134)

In [23]:
# Count positive and negative in the filtered set
print("Outcome distribution among records with valid outcomes:")
print(df_model["Outcome_Admitted"].value_counts(dropna=False))

Outcome distribution among records with valid outcomes:
Outcome_Admitted
1    2686
0    2511
Name: count, dtype: int64

In [24]:
# Show columns, types, and a sample value
summary = pd.DataFrame({
    "dtype": df_model.dtypes,
    "sample_value": df_model.iloc[0]
}).reset_index().rename(columns={"index": "column"})

# Show all rows
pd.set_option("display.max_rows", None)
summary

                 column    dtype                      sample_value
0                PcrKey    int64                         225769756
1          eDispatch_01   object                           2301053
2          eDispatch_02   object                           2302003
3            eArrest_14   object                      Not Recorded
4            eArrest_01   object                           3001001
5            eArrest_02   object                           7701003
6            eArrest_05   object                           7701003
7            eArrest_07   object                           7701003
8            eArrest_11   object                           7701003
9            eArrest_16   object                           7701003
10           eArrest_18   object                           7701003
11      eDisposition_12   object                           4212033
12      eDisposition_19   object                           4219003
13      eDisposition_16   object                           4216005
14      eDisposition_21   object                           4221005
15      eDisposition_22   object                           4222035
16      eDisposition_23   object                           9908007
17          eOutcome_01   object                                30
18          eOutcome_02   object                           7701003
19          ePatient_15   object                                40
20          ePatient_16   object                           2516009
21          ePayment_01   object                           2601011
22          ePayment_50   object                           2650003
23         eResponse_05   object                           2205001
24         eResponse_07   object                           2207003
25         eResponse_15   object                           2215013
26         eResponse_23   object                           2223001
27            eScene_01   object                           9923001
28            eScene_06   object                           2707005
29            eScene_07   object                           9923001
30            eScene_08   object                           7701003
31            eScene_09   object                            Y92.01
32        eSituation_02   object                           9922001
33        eSituation_07   object                           2807011
34        eSituation_08   object                           2808011
35        eSituation_13   object                           2813003
36        eSituation_01   object                01JAN2023:04:45:00
37            eTimes_01   object                      Not Recorded
38            eTimes_03   object                01JAN2023:04:53:32
39            eTimes_05   object                01JAN2023:04:55:31
40            eTimes_06   object                01JAN2023:05:02:30
41            eTimes_07   object                01JAN2023:05:03:41
42            eTimes_09   object                01JAN2023:05:12:44
43            eTimes_11   object                01JAN2023:05:21:21
44            eTimes_12   object                01JAN2023:05:32:05
45            eTimes_13   object                01JAN2023:05:43:00
46      eDisposition_17   object                           4217005
47      HeartRate_first  float64                             140.0
48       HeartRate_last  float64                             130.0
49        HeartRate_min  float64                             130.0
50        HeartRate_max  float64                             140.0
51       HeartRate_mean  float64                             135.0
52        HeartRate_std  float64                          7.071068
53      HeartRate_count  float64                               2.0
54       RespRate_first  float64                              18.0
55        RespRate_last  float64                              18.0
56         RespRate_min  float64                              18.0
57         RespRate_max  float64                              18.0
58        RespRate_mean  float64                              18.0
59         RespRate_std  float64                               0.0
60       RespRate_count  float64                               2.0
61     SystolicBP_first  float64                             142.0
62      SystolicBP_last  float64                             135.0
63       SystolicBP_min  float64                             135.0
64       SystolicBP_max  float64                             142.0
65      SystolicBP_mean  float64                             138.5
66       SystolicBP_std  float64                          4.949747
67     SystolicBP_count  float64                               2.0
68           SpO2_first  float64                              95.0
69            SpO2_last  float64                              96.0
70             SpO2_min  float64                              95.0
71             SpO2_max  float64                              96.0
72            SpO2_mean  float64                              95.5
73             SpO2_std  float64                          0.707107
74           SpO2_count  float64                               2.0
75            BGL_first  float64                             174.0
76             BGL_last  float64                             174.0
77              BGL_min  float64                             174.0
78              BGL_max  float64                             174.0
79             BGL_mean  float64                             174.0
80              BGL_std  float64                               NaN
81            BGL_count  float64                               1.0
82          ETCO2_first  float64                               NaN
83           ETCO2_last  float64                               NaN
84            ETCO2_min  float64                               NaN
85            ETCO2_max  float64                               NaN
86           ETCO2_mean  float64                               NaN
87            ETCO2_std  float64                               NaN
88          ETCO2_count  float64                               0.0
89        GCS_Eye_first  float64                               4.0
90         GCS_Eye_last  float64                               4.0
91          GCS_Eye_min  float64                               4.0
92          GCS_Eye_max  float64                               4.0
93         GCS_Eye_mean  float64                               4.0
94          GCS_Eye_std  float64                               0.0
95        GCS_Eye_count  float64                               2.0
96     GCS_Verbal_first  float64                               4.0
97      GCS_Verbal_last  float64                               4.0
98       GCS_Verbal_min  float64                               4.0
99       GCS_Verbal_max  float64                               4.0
100     GCS_Verbal_mean  float64                               4.0
101      GCS_Verbal_std  float64                               0.0
102    GCS_Verbal_count  float64                               2.0
103     GCS_Motor_first  float64                               5.0
104      GCS_Motor_last  float64                               6.0
105       GCS_Motor_min  float64                               5.0
106       GCS_Motor_max  float64                               6.0
107      GCS_Motor_mean  float64                               5.5
108       GCS_Motor_std  float64                          0.707107
109     GCS_Motor_count  float64                               2.0
110          total_meds    int64                                 2
111         unique_meds    int64                                 2
112      naloxone_doses    int64                                 1
113       naloxone_flag     bool                              True
114         first_route   object                           9916001
115      first_response   object                           7701003
116     procedure_count    int64                                 2
117   unique_procedures    int64                                 2
118     first_procedure   object                          23852006
119      all_procedures   object  ['~23852006  ~', '~386339009 ~']
120  all_procedures_str   object            23852006  ~|~386339009
121           cpr_given     bool                              True
122       bystander_cpr     bool                             False
123             ems_cpr     bool                             False
124       rosc_achieved     bool                             False
125      use_flag_count    int64                                 2
126    unique_use_flags    int64                                 2
127       all_use_flags   object    ['~3117003   ', '~3117007   ']
128   all_use_flags_str   object               3117003   |~3117007
129       symptom_count  float64                               NaN
130     unique_symptoms  float64                               NaN
131        all_symptoms   object                               nan
132    all_symptoms_str   object                               nan
133    Outcome_Admitted    int64                                 1

In [25]:
# List of columns to drop
cols_to_drop = [
    "PcrKey",
    "all_procedures",
    "all_procedures_str",
    "all_use_flags",
    "all_use_flags_str",
    "all_symptoms",
    "all_symptoms_str",
]

# Drop them
df_modeling = df_model.drop(columns=cols_to_drop).copy()

print("After dropping unneeded columns:", df_modeling.shape)

After dropping unneeded columns: (5197, 127)

In [26]:
# Find all boolean columns
bool_cols = df_modeling.select_dtypes(include="bool").columns.tolist()
print("Boolean columns:", bool_cols)

# Convert to int
df_modeling[bool_cols] = df_modeling[bool_cols].astype(int)

print("Converted booleans to integers.")

Boolean columns: ['naloxone_flag', 'cpr_given', 'bystander_cpr', 'ems_cpr', 'rosc_achieved']
Converted booleans to integers.

In [27]:
# Find object columns
cat_cols = df_modeling.select_dtypes(include="object").columns.tolist()

print("Categorical columns:")
for col in cat_cols:
    print("-", col)

Categorical columns:
- eDispatch_01
- eDispatch_02
- eArrest_14
- eArrest_01
- eArrest_02
- eArrest_05
- eArrest_07
- eArrest_11
- eArrest_16
- eArrest_18
- eDisposition_12
- eDisposition_19
- eDisposition_16
- eDisposition_21
- eDisposition_22
- eDisposition_23
- eOutcome_01
- eOutcome_02
- ePatient_15
- ePatient_16
- ePayment_01
- ePayment_50
- eResponse_05
- eResponse_07
- eResponse_15
- eResponse_23
- eScene_01
- eScene_06
- eScene_07
- eScene_08
- eScene_09
- eSituation_02
- eSituation_07
- eSituation_08
- eSituation_13
- eSituation_01
- eTimes_01
- eTimes_03
- eTimes_05
- eTimes_06
- eTimes_07
- eTimes_09
- eTimes_11
- eTimes_12
- eTimes_13
- eDisposition_17
- first_route
- first_response
- first_procedure

In [28]:
# Drop timestamp columns
cols_to_drop_time = [
    "eSituation_01",
    "eTimes_01",
    "eTimes_03",
    "eTimes_05",
    "eTimes_06",
    "eTimes_07",
    "eTimes_09",
    "eTimes_11",
    "eTimes_12",
    "eTimes_13"
]

df_modeling = df_modeling.drop(columns=cols_to_drop_time)

print("Dropped timestamp columns. New shape:", df_modeling.shape)

Dropped timestamp columns. New shape: (5197, 117)

In [29]:
# Recompute categorical columns (now timestamps are gone)
cat_cols = df_modeling.select_dtypes(include="object").columns.tolist()
print("Label encoding these columns:", len(cat_cols))

# Initialize encoders dictionary
label_encoders = {}

# Encode each categorical column
for col in cat_cols:
    le = LabelEncoder()
    # Fill NaN with a placeholder string
    df_modeling[col] = df_modeling[col].fillna("MISSING")
    df_modeling[col] = le.fit_transform(df_modeling[col])
    label_encoders[col] = le

print("All categorical columns label-encoded.")

Label encoding these columns: 39
All categorical columns label-encoded.